.banner {
  background: url(../assets/images/background.jpg) center / cover no-repeat;
  height: 300px;
}

.posts-title {
  font-size: 40px;
}

.card-title {
  color: var(--primary-color);
}

.post-item:hover {
  box-shadow: 0 5px 10px var(--secondary-color);
  cursor: pointer;
}

.post-item {
  position: relative;
}

.post-item-menu {
  transform: scale(1);
  opacity: 1;
}

.post-item:hover .post-item-menu {
  transform: scale(1);
  opacity: 1;
}

.post-item-menu {
  position: absolute;
  top: 15px;
  right: 10px;
  transition: all 0.5s;
  transform: scale(0.5);
  transform-origin: top;
  opacity: 0;
}

.menu-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-bottom: 1rem;
  color: var(--secondary-color);
  background-color: #444;
  transition: all 0.35s;
  opacity: 0.7;
}

.edit-button:hover {
  color: white;
  background-color: #198754;
  opacity: 1;
}

.remove-button:hover {
  color: white;
  background-color: #dc3545;
  opacity: 1;
}

.avatar {
  width: 50px;
  height: 50px;
}

.post-type {
  width: 50px;
  background: var(--secondary-color);
  border-radius: 5px;
  padding: 3px 5px;
}
