.login-form {
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  box-shadow: 10px 10px 5px var(--secondary-color);
}

.login-title {
  color: var(--primary-color);
}

.invalid-feedback {
  display: block;
}
