.banner {
  background: url(../assets/images/background.jpg) center / cover no-repeat;
  height: 300px;
}

.avatar {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.comment-item {
  border-top: 1px solid #d6d6d7;
}

.edit-button,
.remove-button {
  opacity: 0.7;
}

.edit-button:hover,
.remove-button:hover {
  opacity: 1;
}
